/* Font Styles */

.mi-wrapper a, .mi-wrapper body, .mi-wrapper h1, .mi-wrapper h2, .mi-wrapper h3, .mi-wrapper h4, .mi-wrapper h5, .mi-wrapper h6, .mi-wrapper html, .mi-wrapper p, .mi-wrapper input {
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: subpixel-antialiased;
}


h1 {
    font-weight: 400 !important;
    color: #222;
    padding-top: 1rem;
}

p {
    font-weight: 400;
}
.light {
    font-weight: 300 !important;
}
.narrow1 {
    line-height: 1.2rem;
}
.narrow2 {
    line-height: 1.4rem;
}

body {
  overflow-x: hidden;

}

html {
  font-size: 1em;
}


/* Text Themes */

.text-theme-primary {
    color: rgb(220, 30, 40);
    color: black;
}
.text-theme-secondary {
    color: rgb(180, 80, 100);
}
.text-theme-warning {
    color: rgb(255, 80, 100);
}
.text-theme-success {
    color: rgb(120, 220, 120);
}
.text-theme-inverse {
    color: #fff;
}

/* Button Themes */

.btn-theme-primary {
    color: #fff;
    padding: 0.5rem 1rem;
    background-color: rgb(255,85,85);
    border-color: rgb(255,85,85);
    border-radius: 0;
    transition: 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) all;
}
.btn-theme-primary:hover {
    background-color: rgb(235,55,55);
}

.btn-theme-secondary {
  color: #fff;
  padding: 0.5rem 1rem;
  background-color: rgb(0,153,211);
  border-color: rgb(0,153,211);
  border-radius: 0;
  transition: 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) all;
}

.btn-theme-secondary:hover {
    background-color: rgb(0,123,181);
    border-color: rgb(0,123,181);
}

.alert.alert-danger {
  background-color: rgb(255, 125, 125) !important;
  border: 1px solid rgb(255,85,85) !important;
  border-radius: 0px;
  color: white;
}

.alert.alert-success {
  border-radius: 0px;
}

/* Backgrounds */

.header-small {
  display: none;
}

.header-large {
  display: block;
}

.bg-theme1 {
    background-color: black;
    /*box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);*/
    position: relative;
}

@media (max-width: 991px){

.bg-theme1 {
  height: auto;
  padding-top: 0px;
  position: relative;
}

.header-small {
  display: block;
}

.header-large {
  display: none;
}

}
.bg-theme1 .ink {
    background-color: rgb(36, 152, 98);
}
.bg-theme2 {
    background-color: rgb(66,66,66);
    color:white;
}
.bg-theme3 {
    background-color: rgba(5,82,45, 0.8);
    color:white;
}
.bg-theme3 .ink {
    background-color: rgba(36, 152, 98, 0.8);
}

body {
      background-color: rgb(255,255,255);
}

.bg-black {
  background-color: rgb(0,0,0);
}

.bg-black h3 span {
  color: #f37e20;
  font-weight: bold;
  white-space: nowrap;

}

.bg-black h3 {
  padding-top: 3rem;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
}

.bg-black p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: white;
}

.bg-white {
    background-color: white;
}

.bg-white h3 span {
  color: #f37e20;
  font-weight: bold;
  white-space: nowrap;

}

.bg-white h3 {
  padding-top: 3rem;
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
}

.bg-white p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: black;
}

.bg-orange {
  background-color: #f37e20;
}

.bg-white-50 {
  background-color: rgba(255,255,255,0.65);
}

/* images */
.img-fluid {
    padding: 1rem;
    width: 100%;
}


.navbar-toggler {
  float: right;
  font-size: 1.75rem;
}

.h-image-fluid {
    box-sizing: border-box;
    padding: 0;
    width: 375px;
    margin-left: -75px;
    margin-top: 10px;
}

@media (max-width: 1199px){
  .h-image-fluid {
      box-sizing: border-box;
      padding: 0;
      width: 275px;
      margin-top: 18px;
      margin-left: -65px;
  }
}

@media (max-width: 991px){
  .h-img-fluid {
      box-sizing: border-box;
      padding: 1.5rem 1rem;
      width: 100%;
      text-align: center;
  }
  .h-img-fluid img {
      max-width: 600px;
  }
}

.header-small {
  background: black;
  position: relative;
  height: auto;
  width: 100%;
  z-index: 3;
}

.header-large {
  padding-top:45px;
  background-color: black;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.main {

}

.main.edit {
/*  margin-top: 75px !important;*/
}



img {
  max-width: 100%;
  height: auto;
}

.circle-img img {
  border-radius: 50%;
  max-height: 400px;
  max-width: 400px;
  padding: 2rem;
}

.circle-img {
  text-align: center;
  width: 100%;
}

/* Header */

header p {
  color: black;
  letter-spacing: 1px;
  text-align: right;
}

header h5 {
  color: rgb(6,124,68);
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.25em !important;
  text-align: right;
}

@media (max-width: 61.975em){
  header p {
    text-align: center;
  }

  header h5 {
    text-align: center;
  }
}


/* Footer */

.footer-theme {
    padding-top: 4rem;
    padding-bottom: 3.5rem;
    color: white;
    background-color: black;
    font-size: 1rem;
}
.footer-theme strong {
    color: rgb(0, 0, 0);
}
.footer-theme h2 {
    font-weight: bold;
}

.footer-theme h4 {
  color: #f37e20;
  float:left;
  clear:both;
}

.footer-theme h4 a{
  color: #f37e20;
}

.footer-theme h4 a:hover{
  color: #f37e20;
}

.footer-theme p {
  color: white;
  font-size: 1rem;
  margin-top:0.5rem;
  clear: left;
}

.footer-theme .down {
  color: #f37e20;
  margin-left: 0.5rem;
  margin-top:0;
  clear:none;
}

.footer-theme .down i {
  margin-left: 0.5rem;
}

.footer-theme .drop {
  clear:left;
}

footer a {
    color: white;
}
footer a:hover {
    color: #eee;
    text-decoration: none;
}

@media (max-width: 991px){
}

.copyright {
  color: white;
  font-weight: normal;
  padding-top: 0.75rem;
}

.copyright p {
    font-weight: bold;
}

/* Continue Custom things */


.fb-like{
  margin-left: 4px !important;
}


.img-responsive{
  width: 100%;
  height: auto;
  max-width: 100%;
}

.img-container {
  padding: 0 0;
}

.img-container .container {
  margin: 5px 0 0;
}

.img-container2 .container {
  padding-left: 0;
}

.associates .col-md-4 {
  margin-bottom: 0.5rem;
}
.row {
  margin: 0;
  padding: 0;
}
.row-fluid {
  margin: 0;
  padding: 0;
}
.row-fluid .col-lg-12 {
  margin: 0;
  padding: 0;
}
.row-fluid .col-sm-12 {
  margin: 0;
  padding: 0;
}

.row-fluid .container {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
}

.no-gutter {
  padding:0;
}

.max-width-1320 {
  width: 1320px;
}





/* Correct Media Querys */

/* Extra small devices (portrait phones, less than 34em) */
@media (max-width: 33.975em) { }

/* Small devices (landscape phones, less than 48em) */
@media (max-width: 47.975em) {
  .img-fluid {
    margin: 0 auto;
    text-align: center;
  }

  .footer-theme {

  }

  .button-container {
    display: none;
  }

  .max-width-1320 {
    width: 100%;
  }

}

/* Medium devices (tablets, less than 62em) */
@media (max-width: 61.975em) {

  .img-container2 .container {
    padding-left: 0.925em;
    display: none;
  }

}

/* Large devices (desktops, less than 75em) */
@media (max-width: 74.975em) { }
