.nav-ewl {
  text-align: left;
}

.nav-ewl li {
  position: relative;
  display: inline-block;
  margin: 1.25rem 2rem;
  float:left;
}

.nav-ewl li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
  transition: 0.8s ease all;
}

.nav-ewl li a:hover {
  color: white;
  text-decoration: none;
}

.nav-ewl li ul {
  position: absolute;
  transition: 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) all;
  width:300px;
  background-color:black;
  transform-origin: top;
  transform: scaleY(0);
  z-index: 2;
  margin-top: 0.5rem;
  padding-left: 0px;
}

.nav-ewl li ul:hover {
  transform: scaleY(1);
}

.nav-ewl li ul li {
  margin: 1rem 1rem;
}

.nav-ewl li a:hover + ul {
  transform: scaleY(1);
}

@media (max-width: 1320px){
  .nav-ewl li {
    display: inline-block;

    margin: 1.25rem 1rem 1.25rem 1rem;
  }
}

@media (max-width: 1172px){
  .nav-ewl li {
    display: inline-block;

    margin: 1.25rem 0.5rem 1.25rem 0.5rem;
  }
}

@media (max-width: 991px){
  .nav-ewl li {
    position: relative;
    display: block;
    float:none;
    clear:both;
    padding-top: 1.25rem;
    margin: 0rem 1rem 1.25rem 1rem;
  }
  .nav-ewl li ul {
    position: relative;
    transition: 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) all;
    width:100%;
    background-color:black;
    transform-origin: top;
    height: 0;
    transform: scaleY(1);
    z-index: 2;
    margin-top: 0.5rem;
    padding-left: 0px;
    overflow: hidden;
  }

  .nav-ewl li ul:hover {
    height: auto;
  }

  .nav-ewl li:hover > ul{
    height: auto;
  }
}
